In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="12345",
  database="dummy_database"
)

In [2]:
from sqlalchemy import create_engine

In [3]:
# Step 2: Create a SQLAlchemy engine to connect to the MySQL database
engine = create_engine("mysql+mysqlconnector://root:12345@localhost/dummy_database")

In [4]:
# Create cursor object
cursor = mydb.cursor()
delete_query = "DELETE FROM dummy"

# Execute the DELETE statement
cursor.execute(delete_query)

# Commit the changes to the database
mydb.commit()

In [5]:
import pandas as pd
# Execute SELECT query to fetch data from a table
table_name = "dummy"
cursor.execute(f"SELECT * FROM {table_name}")

# Fetch all rows
rows = cursor.fetchall()

# Convert fetched data into a pandas DataFrame
new_df = pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description])

# Process or manipulate DataFrame as needed
print(new_df)

Empty DataFrame
Columns: [a, b]
Index: []

In [6]:
df = pd.read_excel('Dummy.xlsx',sheet_name='Dummy')

In [7]:
df

     a    b
0   13    4
1   22   23
2   33    5
3   47   47
4   90   91
5   81  100
6   60   77
7   40    2
8   56    5
9   31    3
10   5   10
11  17   14
12   4    8
13   2    7

In [8]:
df.to_sql('dummy', con=engine, if_exists='append', index=False)

14